@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>Gerenciador de tarefas</h1>
    <p class="lead">Organize suas tarefas e visualize o status delas de forma organizada de acordo com a prioridade.</p>
    <p><a href="/Home/NovasTarefas" class="btn btn-primary btn-lg">Começar &raquo;</a></p>
</div>
