
@{
    ViewBag.Title = "Tarefas";
}

    <div id="pagina">
        <div id="cabecalho">
            <h1>Tarefas</h1>
        </div>
        <div id="conteudo">
            @Html.ActionLink("Nova Tarefa", "NovasTarefas", "Home", new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Lista de tarefas", "ListarTodasTarefas", "Home", new { @class = "btn btn-warning btn-lg" })
        </div>

    </div>

