
@{
    ViewBag.Title = "Tarefas";
}

    <div id="pagina">
        <div id="cabecalho">
            <h1>Tarefas</h1>
        </div>
        <div id="conteudo">
        </div>

        <div id="rodape">
            <p>
                Desenvolvido para estudar ASP.NET (c)2014 - Me
            </p>
        </div>
    </div>

