<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Ocorreu um erro</h1>
        <h2>Ocorreu um erro, por favor tente novamente, caso esse erro persista contate o administrador.</h2>
    </hgroup>
</body>
</html>
